.coin-card {
  font-size: 1.67rem;
  border-radius: 5px;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  img {
    width: 80px;
  }
  div {
    margin-top: 1rem;
  }
  .coin-symbol {
    font-weight: bold;
    font-size: 2rem;
  }
}
.coin-card:hover {
  transform: scale(1.04);
}
