.coin-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.coin-heading {
  font-size: 1.8rem;
  padding: 1rem;
}

.market-data {
  border: 2px solid black;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  font-size: 1.8rem;
  padding: 1rem;
  p{
    padding: 1.3rem;
  }
}